<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .navbar-default {
            background-color: #3D0F58;
        }
        .navbar-default .navbar-nav>li>a {
            color: white;
        }
        body {
            background-color: hwb(210 89% 8%);
        }
        .navbar-default .navbar-nav>li>a:hover {
            color: grey;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="https://i.ibb.co/18TKB0y/tot3.png" alt="Tales with pangea" height = 48>
            </div>
            <ul class="nav navbar-nav" ms-auto>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/login_customer">Login as customer</a></li>
                <li><a href="/login_technician">Login as technician</a></li>
                <li><a href="/upload">Push configuration</a></li>
                <li><a href="/admin">Administrator Login</a></li>
                <li><a href="/documentation">Documentation</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    <div class="container">
        <h2 class="code-line" data-line-start=0 data-line-end=1 ><a id="__Welcome_to_TALES_WITH_PANGEAs_documentation___0"></a><strong>Welcome to TALES WITH PANGEA’s documentation!</strong></h2>
<p class="has-line-data" data-line-start="2" data-line-end="3">Here, we provide comprehensive information and guidelines to help you navigate through the various features and functionalities of our platform effectively. Whether you are a customer checking in your devices or a technician looking to provide support, this documentation will serve as your go-to resource.</p>
<h3 class="code-line" data-line-start=4 data-line-end=5 ><a id="__Getting_Started___4"></a><strong>Getting Started</strong></h3>
<p class="has-line-data" data-line-start="6" data-line-end="7">Python network management application that uses flask web framework and uses security functions of pangea cloud.</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">Our platform provides customers and technicians with the ability to verify real-time network functionality. Thanks to Pangea services, each user category can access configurations based on their respective privileges, ensuring secure and controlled access. This prevents profanity from being included in any sent logs and enables the detection of malicious files during the configuration pushing process. Furthermore, administrators have the capability to log all activity on the portal, facilitating monitoring and ensuring accountability.</p>
<h3 class="code-line" data-line-start=10 data-line-end=11 ><a id="__Exploring_as_a_Customer___10"></a><strong>Exploring as a Customer:</strong></h3>
<p class="has-line-data" data-line-start="12" data-line-end="13"><strong>Login with Predefined Credentials:</strong> On the login page, you can quickly get started by logging in with preexisting credentials. Simply replace the name with your own (Don’t replace username), select any command from the dropdown menu, and proceed with the login process.</p>
<p class="has-line-data" data-line-start="14" data-line-end="15"><strong>Observing the Output:</strong> To experience the precise distinctions, choose <code>interfaces_info</code> from the dropdown menu. Upon logging in, you will have access to the output specific to your selected command. As a customer, you will notice that all customer-related information is visible, providing a comprehensive view of your account and interactions.</p>
<p class="has-line-data" data-line-start="16" data-line-end="17"><img src="https://i.postimg.cc/NFR19G2Z/customer-info-csr.png" alt="Customer_Info_customer"></p>
<p class="has-line-data" data-line-start="18" data-line-end="19"><strong>Pangea Redact:</strong> As you explore the configuration, you will observe the powerful functionality of Pangea Redact. This feature expertly masks sensitive IP addresses, ensuring that confidential information remains hidden from view. While customers can access and review their configurations, the protection provided by Pangea Redact ensures that sensitive IP addresses are redacted, maintaining privacy and security.</p>
<p class="has-line-data" data-line-start="20" data-line-end="21"><strong>Logging In and Accessing Logs:</strong> After logging in with your credentials, you can scroll down to access the log section. Here, you have the option to add logs as a customer. Feel free to enter any relevant information, such as troubleshooting details or specific requests.</p>
<p class="has-line-data" data-line-start="22" data-line-end="23"><strong>Testing Pangea’s Redact Functionality:</strong> To observe the effectiveness of Pangea’s Redact feature, you can intentionally include sensitive information like email addresses or phone numbers in the logs or add some abusive language to verify pangea’s redact service of masking the profanity text.</p>
<p class="has-line-data" data-line-start="24" data-line-end="25"><strong>Analyzing the Redacted Output:</strong> Upon submitting the logs, you can review the output to witness Pangea’s Redact feature in action. The system will automatically mask any sensitive information, such as email addresses or phone numbers, Also, masking the profanity text. This safeguard protects the privacy of all users and upholds the integrity of the platform.</p>
<h3 class="code-line" data-line-start=26 data-line-end=27 ><a id="__Exploring_as_a_Technician___26"></a><strong>Exploring as a Technician:</strong></h3>
<p class="has-line-data" data-line-start="28" data-line-end="29"><strong>Logging in with Technician Credentials:</strong> As a technician, you can access the platform by logging in with your credentials. Simply replace the name with your own (Don’t replace username), select any command from the dropdown menu, and proceed with the login process.</p>
<p class="has-line-data" data-line-start="30" data-line-end="31"><strong>Customer Information Masked:</strong> Once logged in, you will notice that customer information is hidden from view. Pangea ensures that sensitive customer details, such as names, IP addresses, and other personal information, are masked, providing enhanced privacy and security.</p>
<p class="has-line-data" data-line-start="32" data-line-end="33"><strong>Accessing Configurations:</strong> As a technician, you will have access to view and work with network configurations assigned to you. By selecting the relevant network device and configuration, you can analyze and troubleshoot any issues efficiently. The platform enables you to retrieve the necessary information without revealing sensitive customer data, thanks to Pangea redact’s robust security measures.</p>
<h3 class="code-line" data-line-start=34 data-line-end=35 ><a id="__Exploring_the_Push_Configuration_Tab___34"></a><strong>Exploring the Push Configuration Tab:</strong></h3>
<p class="has-line-data" data-line-start="36" data-line-end="37"><strong>Pangea File Intel:</strong> Technicians can push configs if they want to update something in the network, if they don’t know that a file has been corrupted or it’s malicious by pushing on our website the Pangea File Intel service will block and prevent them from using it.</p>
<p class="has-line-data" data-line-start="38" data-line-end="39"><strong>Login with Default Credentials:</strong> To begin exploring the Push Configuration tab, log in using the default credentials provided. Add your name in the name text box and Upload a Malicious File and Push Configuration</p>
<p class="has-line-data" data-line-start="40" data-line-end="41"><strong>Observe Malicious Content Warning:</strong> Upon attempting to push the configuration with a malicious file, you will encounter a warning message indicating the presence of potentially harmful content. The platform’s robust security system swiftly detects and alerts users about the potential risks associated with the uploaded file.</p>
<p class="has-line-data" data-line-start="42" data-line-end="43">Powered by Pangea’s File Intel service.</p>
<p class="has-line-data" data-line-start="44" data-line-end="46">In a standard scenario, when uploading a valid configuration file, the platform enables you to push the configuration seamlessly.<br>
By following the appropriate steps and selecting the desired network device, you can initiate the configuration pushing process. This allows for efficient and reliable network management and troubleshooting.</p>
<h3 class="code-line" data-line-start=47 data-line-end=48 ><a id="__Exploring_the_Administration_Tab___47"></a><strong>Exploring the Administration Tab:</strong></h3>
<p class="has-line-data" data-line-start="49" data-line-end="52"><strong>Pangea Secure Audit Log:</strong><br>
If a technician is assigned a task to change some configs in the network, they can log in with their name by doing so, the audit service will send the logs to the Pangea dashboard.<br>
No one to blame if something goes wrong.</p>
<p class="has-line-data" data-line-start="53" data-line-end="55">You can try logging in activity logs of your website to pangea dashboard.<br>
To have a glimpse of pangea’s secure audit log dashboard, just click on Administration tab and check out.</p>
<p class="has-line-data" data-line-start="26" data-line-end="29">Our Linkedin profiles to follow<br>
<a href="https://linkedin.com/in/herald126/">Herald’s linkedin</a><br>
<a href="https://www.linkedin.com/in/verlaine-j-muhungu-363507b2/">Verlaine’s linkedin</a></p>
<p class="has-line-data" data-line-start="30" data-line-end="31">our twitter profile - <a href="https://twitter.com/toftechnology">toftechnology</a></p>
<p class="has-line-data" data-line-start="32" data-line-end="33">Follow us on <a href="https://talesoftechnology.github.io">tales of technology</a></p>
<p class="has-line-data" data-line-start="34" data-line-end="35">Developed by Verlaine and Herald. © 2023 Tales of Technology. All rights reserved.</p>
    </div>
    {% endblock %}
</body>
</html>