<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .navbar-default {
            background-color: #3D0F58;
        }
        .navbar-default .navbar-nav>li>a {
            color: white;
        }
        body {
            background-color: hwb(210 89% 8%);
        }
        .navbar-default .navbar-nav>li>a:hover {
            color: grey;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="https://i.ibb.co/18TKB0y/tot3.png" alt="Tales with pangea" height = 48>
            </div>
            <ul class="nav navbar-nav" ms-auto>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/login_customer">Login as customer</a></li>
                <li><a href="/login_technician">Login as technician</a></li>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/admin">Administrator</a></li>
                <li><a href="/documentation">Docs</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    <div class="container">
        <h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="__TALES_WITH_PANGEA____0"></a><strong>TALES WITH PANGEA :)</strong></h1>
<p class="has-line-data" data-line-start="2" data-line-end="3">Welcome to our innovative networking platform!</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">Our website is designed to bridge the gap between network technicians and customers, whether you’re a customer or technician, providing a seamless and tailored experience for both parties without compromising on platform security and reliability.</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">We aim to simplify network management and troubleshooting with user-friendly features and powerful tools.</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">Join us today and unlock a world of networking possibilities.</p>
<h3 class="code-line" data-line-start=10 data-line-end=11 ><a id="__Empowering_Secure_and_Tailored_Experiences_with_pangea___10"></a><strong>Empowering Secure and Tailored Experiences with pangea</strong></h3>
<p class="has-line-data" data-line-start="12" data-line-end="13">Our platform is powered and secured by <a href="https://pangea.cloud/">PANGEA</a> , a robust technology that enhances functionality and fortifies security, and tailors the output based on user roles in the platform.</p>
<p class="has-line-data" data-line-start="14" data-line-end="15">We care about your data and we want to secure it with Pangea services for a safer cyber world.</p>
<p class="has-line-data" data-line-start="16" data-line-end="17">Pangea dynamically generates and displays different outputs while intelligently masking sensitive information specific to each logged-in role.</p>
<p class="has-line-data" data-line-start="18" data-line-end="19">Additionally, it logs activity on the portal, providing a record of actions for auditing and monitoring purposes. Pangea also implements rigorous checks to detect and prevent any malicious file uploads, ensuring the highest level of security for our users.</p>
<p class="has-line-data" data-line-start="20" data-line-end="21">Pangea functionalities or use cases are not limited to the ones mentioned.</p>
<p class="has-line-data" data-line-start="22" data-line-end="23">Explore pangea documentation <a href="https://pangea.cloud/docs/">here</a></p>
<p class="has-line-data" data-line-start="24" data-line-end="25">Embark on a Journey of Network Empowerment: Dive into the Depths of our Tales with Pangea networking platform now!</p>
<p class="has-line-data" data-line-start="26" data-line-end="29">Our Linkedin profiles to follow<br>
<a href="https://linkedin.com/in/herald126/">Herald’s linkedin</a><br>
<a href="https://www.linkedin.com/in/verlaine-j-muhungu-363507b2/">Verlaine’s linkedin</a></p>
<p class="has-line-data" data-line-start="30" data-line-end="31">our twitter profile - <a href="https://twitter.com/toftechnology">toftechnology</a></p>
<p class="has-line-data" data-line-start="32" data-line-end="33">Follow us on <a href="https://talesoftechnology.github.io">tales of technology</a></p>
<p class="has-line-data" data-line-start="34" data-line-end="35">Developed by Verlaine and Herald. © 2023 Tales of Technology. All rights reserved.</p>
    </div>
    {% endblock %}
</body>
</html>
