<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .navbar-default {
            background-color: #3D0F58;
        }
        .navbar-default .navbar-nav>li>a {
            color: white;
        }
        body {
            background-color: whitesmoke;
        }
        .navbar-default .navbar-nav>li>a:hover {
            color: grey;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="https://i.ibb.co/HNNJsXV/Tales-with-pangea.png" alt="Tales with pangea" >
            </div>
            <ul class="nav navbar-nav" ms-auto>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/login_customer">Login as customer</a></li>
                <li><a href="/login_technician">Login as technician</a></li>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/admin">Admin_login</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    <div class="container">
        <h1>Lets explore pangea</h1>
        <h2>Please use below credentials</h2>
        <h4>Name: '  Your name here'</h4>
        <h4>IP address or Hostname:   192.66.66.3 </h4>
        <h4>Username:   abraham </h4>
        <h4>Password:   lincoln150 </h4>
    </div>
    {% endblock %}
</body>
</html>
