<!DOCTYPE html>
<html>
<head>
    <title>Login as Technician</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .navbar-default {
            background-color: #3D0F58;
        }
        .navbar-default .navbar-nav>li>a {
            color: white;
        }
        body {
            background-color: hwb(210 89% 8%);
        }
        .navbar-default .navbar-nav>li>a:hover {
            color: grey;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="https://i.ibb.co/18TKB0y/tot3.png" alt="Tales with pangea" height = 48>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/login_customer">Login as customer</a></li>
                <li class="active"><a href="#">Login as technician</a></li>
            </ul>
            <!--
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
            -->
        </div>
    </nav>
    <div class="container">
        <h1>Login as Technician</h1>
        <form method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="ip">IP address or Hostname:</label>
                <input type="text" class="form-control" id="ip" name="ip" value = "192.66.66.3" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" value = "Abraham" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" value = "lincoln150" required>
            </div>
            <div class="form-group">
                <label for="command">Select a network command:</label>
                <select class="form-control" id="command" name="command">
                    <option value="uptime">uptime</option>
                    <option value="interfaces_info">interfaces_info</option>
                    <option value="users">users</option>
                    <option value="arp_table">arp_table</option>
                    <option value="routes">routes</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</body>
</html>
