<!DOCTYPE html>
<html>
<head>
    <title>Customer logs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .navbar-default {
            background-color: #3D0F58;
        }
        .navbar-default .navbar-nav>li>a {
            color: white;
        }
        body {
            background-color: hwb(210 89% 8%);
        }
        .navbar-default .navbar-nav>li>a:hover {
            color: grey;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="https://i.ibb.co/18TKB0y/tot3.png" alt="Tales with pangea" height = 48>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/login_customer">Login as customer</a></li>
                <li><a href="/login_technician">Login as technician</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h3><b>Customer logs</b></h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Log</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>Great service, very knowledgeable technician!</td>
                </tr>
                {% for review in reviews %}
                <tr>
                    <td>{{ review['review'] }}</td>
                    <td>{{ review['reviewer'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>