<!DOCTYPE html>
<html>
<head>
    <title>Upload configuration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .navbar-default {
            background-color: #3D0F58;
        }
        .navbar-default .navbar-nav>li>a {
            color: white;
        }
        body {
            background-color: hwb(210 89% 8%);
        }
        .navbar-default .navbar-nav>li>a:hover {
            color: grey;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="https://i.ibb.co/18TKB0y/tot3.png" alt="Tales with pangea" height = 48>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2><b>Push Configuration Here</b></h2>
        <h4>Please login to the device and upload configuration file to push into the device</h4>
    </div>
    <div class="container">
        <form method="post" action="/upload" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="ip">IP address or Hostname:</label>
                <input type="text" class="form-control" id="ip" name="ip" value = "192.66.66.3" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" value = "Abraham" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" value = "lincoln150" required>
            </div>
            <div class="form-group">
                <label for="file">Choose File:</label>
                <input type="file" class="form-control-file" id="file" name="file">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Push configuration">
            </div>
        </form>
    </div>
</body>
</html>