<!DOCTYPE html>
<html>
<head>
    <title>Incorrect credentials</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Tales with Pangea</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Incorrect credentials</h1>
        <h2>Please use below credentials</h2>
        <h4>Name: '  Your name here'</h4>
        <h4>IP address or Hostname:   192.66.66.3 </h4>
        <h4>Username:   abraham </h4>
        <h4>Password:   lincoln150 </h4>
        <p><a href="/home">Click here to log back in.</a></p>
    </div>
</body>
</html>